In [2]:
import pandas as pd

In [3]:
path = 'data.csv'

In [4]:
path

'data.csv'

In [5]:
df=pd.read_csv(path, encoding = 'cp949')
# df.head(10)

In [6]:
null_count=df.isnull().sum()
null_count

상가업소번호            0
상호명               0
상권업종대분류코드         0
상권업종대분류명          0
상권업종중분류코드         0
상권업종중분류명          0
상권업종소분류코드         0
상권업종소분류명          0
표준산업분류코드       8622
표준산업분류명        8622
시도코드              0
시도명               0
시군구코드             0
시군구명              0
행정동코드             0
행정동명              0
법정동코드             0
법정동명              0
지번코드              0
대지구분코드            0
대지구분명             0
지번본번지             0
지번부번지         19749
지번주소              0
도로명코드             0
도로명               0
건물본번지             0
건물부번지        119666
건물관리번호            0
건물명           75002
도로명주소             0
구우편번호           101
신우편번호             4
동정보          122366
층정보           69086
호정보          107227
경도                0
위도                0
지점명          123061
dtype: int64

In [7]:
df_null_count = null_count.reset_index()
df_null_count

        index       0
0      상가업소번호       0
1         상호명       0
2   상권업종대분류코드       0
3    상권업종대분류명       0
4   상권업종중분류코드       0
5    상권업종중분류명       0
6   상권업종소분류코드       0
7    상권업종소분류명       0
8    표준산업분류코드    8622
9     표준산업분류명    8622
10       시도코드       0
11        시도명       0
12      시군구코드       0
13       시군구명       0
14      행정동코드       0
15       행정동명       0
16      법정동코드       0
17       법정동명       0
18       지번코드       0
19     대지구분코드       0
20      대지구분명       0
21      지번본번지       0
22      지번부번지   19749
23       지번주소       0
24      도로명코드       0
25        도로명       0
26      건물본번지       0
27      건물부번지  119666
28     건물관리번호       0
29        건물명   75002
30      도로명주소       0
31      구우편번호     101
32      신우편번호       4
33        동정보  122366
34        층정보   69086
35        호정보  107227
36         경도       0
37         위도       0
38        지점명  123061

In [25]:
df_null_count.columns=['메뉴','결측']
df_null_count.columns

Index(['메뉴', '결측'], dtype='object')

In [29]:
df_null_count_3=df_null_count.sort_values(by='결측',ascending=False).head(3)
df_null_count_3

       메뉴      결측
38    지점명  123061
33    동정보  122366
27  건물부번지  119666

In [30]:
drop_columns = df_null_count_3['메뉴']
drop_columns

38      지점명
33      동정보
27    건물부번지
Name: 메뉴, dtype: object

In [37]:
drop_columns.to_list()

['지점명', '동정보', '건물부번지']

In [32]:
df[drop_columns]

        지점명  동정보  건물부번지
0       NaN  NaN    NaN
1       NaN  NaN    NaN
2       NaN  NaN    2.0
3       NaN  NaN    NaN
4       NaN  NaN    NaN
...     ...  ...    ...
140072  NaN  NaN    1.0
140073  NaN  NaN    6.0
140074  NaN  NaN    NaN
140075  NaN  NaN   13.0
140076  NaN  NaN    NaN

[140077 rows x 3 columns]

In [38]:
print(df.shape)

(140077, 39)

In [39]:
df=df.drop(drop_columns, axis=1)
df

,상가업소번호,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,표준산업분류명,...,건물본번지,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,층정보,호정보,경도,위도
0,19925178,오구피자,Q,음식,Q07,패스트푸드,Q07A01,피자전문,I56192,"피자, 햄버거, 샌드위치 및 유사 음식점업",...,541,2.817010e+24,NaN,인천광역시 남구 미추홀대로 541,402200.0,22216.0,1,NaN,126.678585,37.445680
1,19925318,데이앤데이계양점피자,Q,음식,Q07,패스트푸드,Q07A01,피자전문,I56192,"피자, 햄버거, 샌드위치 및 유사 음식점업",...,785,2.824510e+24,(주)신세계이마트계양점,인천광역시 계양구 봉오대로 785,407060.0,21080.0,2,NaN,126.736875,37.531024
2,19927968,우리집양념,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,기타 주점업,...,10,2.823710e+24,NaN,인천광역시 부평구 열우물로50번길 10-2,403130.0,21445.0,1,NaN,126.700853,37.472823
3,19932479,콩나물솥뚜껑오겹살,Q,음식,Q01,한식,Q01A99,기타고기요리,I56111,한식 음식점업,...,26,2.818510e+24,NaN,인천광역시 연수구 용담로63번길 26,406831.0,21917.0,1,NaN,126.675299,37.419279
4,19920606,보리.보리,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,한식 음식점업,...,836,2.826010e+24,월드아파트,인천광역시 서구 검단로 836,404775.0,22628.0,1,NaN,126.693057,37.618414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140072,16428453,육앤낙,Q,음식,Q01,한식,Q01A99,기타고기요리,I56111,한식 음식점업,...,8,2.811010e+24,NaN,인천광역시 중구 우현로35번길 8-1,400080.0,22322.0,1,NaN,126.626755,37.470607
140073,16411760,반려스타,D,소매,D09,애견/애완/동물,D09A01,애견/애완/동물사육판매,G47852,애완용 동물 및 관련용품 소매업,...,12,2.823710e+24,NaN,인천광역시 부평구 경인로1012번길 12-6,403827.0,21426.0,NaN,101,126.731755,37.486584
140074,16423672,명성갈비,Q,음식,Q01,한식,Q01A02,갈비/삼겹살,I56111,한식 음식점업,...,25,2.820010e+24,구월신세계프라자,인천광역시 남동구 선수촌공원로 25,405221.0,21582.0,2,201,126.709750,37.441267
140075,16412047,만덕인테리어,D,소매,D07,가정/주방/인테리어,D07A01,인테리어/욕실용품/커튼,G47599,그외 기타 분류안된 가정용품 소매업,...,9,2.826010e+24,신양베스트빌,인천광역시 서구 연희로14번길 9-13,404836.0,22721.0,지,3,126.674869,37.549870
140076,16422459,미술재미학원,R,학문/교육,R05,학원-음악미술무용,R05A01,서예/서화/미술,P85620,예술 학원,...,69,2.818510e+24,송도밀레니엄,인천광역시 연수구 컨벤시아대로 69,406081.0,21995.0,6,603,126.650687,37.395700

In [40]:
print(df.shape)

(140077, 36)

In [41]:
df.head()

,상가업소번호,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,표준산업분류명,...,건물본번지,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,층정보,호정보,경도,위도
0,19925178,오구피자,Q,음식,Q07,패스트푸드,Q07A01,피자전문,I56192,"피자, 햄버거, 샌드위치 및 유사 음식점업",...,541,2.817010e+24,NaN,인천광역시 남구 미추홀대로 541,402200.0,22216.0,1,NaN,126.678585,37.445680
1,19925318,데이앤데이계양점피자,Q,음식,Q07,패스트푸드,Q07A01,피자전문,I56192,"피자, 햄버거, 샌드위치 및 유사 음식점업",...,785,2.824510e+24,(주)신세계이마트계양점,인천광역시 계양구 봉오대로 785,407060.0,21080.0,2,NaN,126.736875,37.531024
2,19927968,우리집양념,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,기타 주점업,...,10,2.823710e+24,NaN,인천광역시 부평구 열우물로50번길 10-2,403130.0,21445.0,1,NaN,126.700853,37.472823
3,19932479,콩나물솥뚜껑오겹살,Q,음식,Q01,한식,Q01A99,기타고기요리,I56111,한식 음식점업,...,26,2.818510e+24,NaN,인천광역시 연수구 용담로63번길 26,406831.0,21917.0,1,NaN,126.675299,37.419279
4,19920606,보리.보리,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,한식 음식점업,...,836,2.826010e+24,월드아파트,인천광역시 서구 검단로 836,404775.0,22628.0,1,NaN,126.693057,37.618414

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140077 entries, 0 to 140076
Data columns (total 36 columns):
상가업소번호       140077 non-null int64
상호명          140077 non-null object
상권업종대분류코드    140077 non-null object
상권업종대분류명     140077 non-null object
상권업종중분류코드    140077 non-null object
상권업종중분류명     140077 non-null object
상권업종소분류코드    140077 non-null object
상권업종소분류명     140077 non-null object
표준산업분류코드     131455 non-null object
표준산업분류명      131455 non-null object
시도코드         140077 non-null int64
시도명          140077 non-null object
시군구코드        140077 non-null int64
시군구명         140077 non-null object
행정동코드        140077 non-null int64
행정동명         140077 non-null object
법정동코드        140077 non-null int64
법정동명         140077 non-null object
지번코드         140077 non-null float64
대지구분코드       140077 non-null int64
대지구분명        140077 non-null object
지번본번지        140077 non-null int64
지번부번지        120328 non-null float64
지번주소         140077 non-null object
도로명코드        140077 non-null float64
도로명          140077 non-null object
건물본번지        140077 non-null int64
건물관리번호       140077 non-null float64
건물명          65075 non-null object
도로명주소        140077 non-null object
구우편번호        139976 non-null float64
신우편번호        140073 non-null float64
층정보          70991 non-null object
호정보          32850 non-null object
경도           140077 non-null float64
위도           140077 non-null float64
dtypes: float64(8), int64(8), object(20)
memory usage: 38.5+ MB