## 30315_이정우

In [29]:
sum = 0
for i in range(1,52):
    if i % 17==0:
        sum=sum+i
        print(i)
print('총합계 =',sum)

17
34
51
총합계 = 102

In [7]:
for i in range(1,10):
    for j in range(2,10):
        print('%d %s %d = %d'%(j,'x',i,j*i),end='\t')
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [11]:
name = input('이름을 입력하세요>>> ')
print('이름 : '+name)

이름을 입력하세요>>> 이정우
이름 : 이정우

In [17]:
a='Incheon High School'
a[2],a[-1]

('c', 'l')

In [22]:
a=[21,310,37,41,51]
for num in a:
    if num%2==0:
        print(num/2)
    else:
        print(num+1)

22
155.0
38
42
52

In [37]:
a={'이름':'이정우','학교':'인천정보산업고등학교'}
for i in a:
    print(i,a[i])

이름 이정우
학교 인천정보산업고등학교

In [40]:
a=[100,90,80,70,60,50]
for num in a:
    if num>=60 and num<=69:
        break
        
print(num)

60

In [45]:
for i, val in enumerate(a):
    if i>3:
        print(i,val)

4 60
5 50

In [52]:
import random as r

In [66]:
com = r.randint(1,10)
i=0
count = 1;
while(i<10):
    my = input('1부터 10까지의 중 입력받기 >>>>>>>')
    my_int = int(my)
    if com>my_int:
        print("Up!!")
        i+=1
        count+=1
    elif com <my_int:
        print('Down!!!')
        i+=1
        count+=1
    else:
        print('You Win!!!')
        print('You %d Times Win'%count)
        break

1부터 10까지의 중 입력받기 >>>>>>>8
Down!!!
1부터 10까지의 중 입력받기 >>>>>>>7
Down!!!
1부터 10까지의 중 입력받기 >>>>>>>4
You Win!!!
You 3 Times Win