## DataFrame_Pandas

## Boolean

In [81]:
print(True== False)
print(True == True)

False
True

In [84]:
True!=0

True

In [85]:
False == 0

True

In [87]:
True or False

True

In [88]:
1=='1'

False

In [5]:
print(True== False)

False

In [6]:
print(True == True)

True

In [8]:
True != False

True

In [9]:
True != 1

False

In [11]:
True != '1'

True

In [12]:
e = 'Abcde'

In [16]:
e.upper()

e.lower()

'abcde'

In [22]:
big=e.upper()

In [19]:
e.lower()

'abcde'

In [23]:
big

'ABCDE'

In [49]:
data = ['재홍','유빈',2,3,4]
t=(1,2,3,4,5)
d={'name':'일',2:'이'}

In [52]:
d['name']

'일'

In [53]:
d.keys()

dict_keys(['name', 2])

In [54]:
d.values()

dict_values(['일', '이'])

In [44]:
t[0]='일' ## 유플의 요소는 기본적으로는 바꿀수 없다

TypeError: 'tuple' object does not support item assignment

In [36]:
data[1],data[-1]

('유빈', 4)

In [40]:
data[2:], data[:2]

([2, 3, 4], ['재홍', '유빈'])

In [42]:
data[0]='석찬'

In [43]:
data

['석찬', '유빈', 2, 3, 4]

In [27]:
type(data)

list

In [29]:
type(t)

tuple

In [30]:
type(d)

dict

In [56]:
a= [1,2,3]
b=['치킨','피자','고구마']

In [57]:
a

[1, 2, 3]

In [58]:
b

['치킨', '피자', '고구마']

In [63]:
s1=[a,b]

In [64]:
s1

[[1, 2, 3], ['치킨', '피자', '고구마']]

In [61]:
import pandas as pd

In [67]:
pd.Series(s1)

0        [1, 2, 3]
1    [치킨, 피자, 고구마]
dtype: object

In [69]:
pd.DataFrame(s1)

    0   1    2
0   1   2    3
1  치킨  피자  고구마

In [79]:
a.append(400)

In [80]:
a

[1, 2, 3, '400', '400', 400, 400, 400, 400, 400, 400]

In [114]:
data = []

In [115]:
data.append('java')

In [117]:
data[0],data[-1],data[1:],data[:2]

('java', 'java', [], ['java'])

In [120]:
data.sort()
data

['java']

In [121]:
data.reverse()
data

['java']

In [103]:
data.reverse()

In [122]:
data

['java']

In [126]:

c=1,2,3

In [131]:
b=(1,2,3,'사','오')

In [132]:
type(b),type(c)

(tuple, tuple)

In [134]:
b[3]= 4

TypeError: 'tuple' object does not support item assignment

In [136]:
b[3:],b[1:4]

(('사', '오'), (2, 3, '사'))

In [138]:
dic = {'name1' :'경민','학번1':20103,'name2':'경민2','학번2':20104}

In [140]:
dic.get('name1')

'경민'

In [143]:
dic.keys()

dict_keys(['name1', '학번1', 'name2', '학번2'])

In [145]:
dic.values()

dict_values(['경민', 20103, '경민2', 20104])

In [147]:
lunch = {'햄버거','치킨','라면','콜라',10000}
dinner = {'피자','족발','라면','콜라',10000}

In [150]:
lunch & dinner

{10000, '라면', '콜라'}

In [152]:
dinner | lunch

{10000, '라면', '족발', '치킨', '콜라', '피자', '햄버거'}

In [159]:
s1 = pd.core.series.Series([1,2,3])
s2= pd.core.series.Series(['일','이','삼'])
pd.DataFrame(data=dict(num=s1,word=s2))

   num word
0    1    일
1    2    이
2    3    삼

In [161]:
num_se = pd.Series([1,2,3,4,5])
num_df=pd.DataFrame([1,2,3,4,5], index=[1,2,3,4,5])

In [163]:
num_se

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [164]:
num_df

   0
1  1
2  2
3  3
4  4
5  5

In [173]:
man = [
    {'name':'은주','age':20, 'job':'j1'},
    {'name':'민서','age':300, 'job':'j2'},
    {'name':'경민','age':15, 'job':'j1'}
]
df=pd.DataFrame(man, index=[1,2,3])

In [178]:
per_2={'이름':['은주','소주','은주','은주'],
        '나이':[30,40,10,21],
        '직업':['J1','J1','J1','J1']
}

In [183]:
df=pd.DataFrame(per_2, index=[4,5,6,7])
df

   이름  나이  직업
4  은주  30  J1
5  소주  40  J1
6  은주  10  J1
7  은주  21  J1

In [187]:
per_3={'3식':['아침','점심','저녁'],
     '메뉴':['삼겹살','치킨','피자']
}

In [189]:
df=pd.DataFrame(per_3,index=[1,2,3])
df

   3식   메뉴
1  아침  삼겹살
2  점심   치킨
3  저녁   피자

In [172]:
man

[{'name': '은주', 'age': 20, 'job': 'j1'},
 {'name': '민서', 'age': 300, 'job': 'j2'},
 {'name': '경민', 'age': 15, 'job': 'j1'}]

In [170]:
df

  name  age job
1   은주   20  j1
2   민서  300  j2
3   경민   15  j1

In [171]:
person = [
    ['a',100,80],['b',17,60],['b',50,40],['d',90,80]
]
col_name=['name','국어','영어']
df=pd.DataFrame.from_records(person, columns=col_name, index=[1,2,3,4])

df[['국어','영어']]>70

      국어     영어
1   True   True
2  False  False
3  False  False
4   True   True