## 공공데이터

In [2]:
import pandas as pd

In [15]:
path = r'C:\Users\user\Desktop\30315\애니.csv'
df = pd.read_csv(path, encoding = 'CP949')

In [16]:
df

,no,인덱스,구분,카테고리,섹션,작품명국문,작품명영문,제작국가,러닝타임,제작년도,...,약력영문4,감독국문5,감독영문5,약력국문5,약력영문5,감독국문6,감독영문6,약력국문6,약력영문6,행종료
0,1,IV-015,개막작,개막작,개막작,"메밀꽃, 운수 좋은 날 그리고 봄봄 - 한국단편문학애니메이션",The Road Called Life - Animation of Korean Lit...,Korea,1:30:00,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,행종료
1,2,F-001,경쟁부문,장편부문,장편부문1,소년과 세상,The Boy and the World,Brazil,1:19:38,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,행종료
2,3,F-007,경쟁부문,장편부문,장편부문2,꿈틀이,Worms,Brazil,1:21:56,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,행종료
3,4,F-009,경쟁부문,장편부문,장편부문3,아내의 유혹,Cheatin`,USA,1:16:39,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,행종료
4,5,F-012,경쟁부문,장편부문,장편부문4,우리별 일호와 얼룩소,The Satellite Girl and Milk Cow,Korea,1:20:49,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,행종료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,383,IV-018,초청부문,오픈 프레임,여름밤의 애니메이션,랜드,Land,Japan,0:03:30,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,행종료
367,384,IV-018,초청부문,오픈 프레임,여름밤의 애니메이션,우연 2,Coincidence 2,UK,0:03:24,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,행종료
368,385,IV-018,초청부문,오픈 프레임,여름밤의 애니메이션,뮤직 박스,Music Box,UK,0:01:00,2011.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,행종료
369,386,IV-018,초청부문,오픈 프레임,여름밤의 애니메이션,컬러메트리 인 모션,Colorimetry in Motion,Canada,0:04:54,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,행종료
370,387,IV-018,초청부문,오픈 프레임,여름밤의 애니메이션,인테리어,Interior,UK,0:03:00,2013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,행종료

In [17]:
df.info

<bound method DataFrame.info of       no     인덱스    구분    카테고리          섹션                              작품명국문  \
0      1  IV-015   개막작     개막작         개막작  메밀꽃, 운수 좋은 날 그리고 봄봄 - 한국단편문학애니메이션
1      2   F-001  경쟁부문    장편부문       장편부문1                             소년과 세상
2      3   F-007  경쟁부문    장편부문       장편부문2                                꿈틀이
3      4   F-009  경쟁부문    장편부문       장편부문3                             아내의 유혹
4      5   F-012  경쟁부문    장편부문       장편부문4                        우리별 일호와 얼룩소
..   ...     ...   ...     ...         ...                                ...
366  383  IV-018  초청부문  오픈 프레임  여름밤의 애니메이션                                 랜드
367  384  IV-018  초청부문  오픈 프레임  여름밤의 애니메이션                               우연 2
368  385  IV-018  초청부문  오픈 프레임  여름밤의 애니메이션                              뮤직 박스
369  386  IV-018  초청부문  오픈 프레임  여름밤의 애니메이션                         컬러메트리 인 모션
370  387  IV-018  초청부문  오픈 프레임  여름밤의 애니메이션                               인테리어

                                                 작품명영문    제작국가     러닝타임  \
0    The Road Called Life - Animation of Korean Lit...   Korea  1:30:00
1                                The Boy and the World  Brazil  1:19:38
2                                                Worms  Brazil  1:21:56
3                                             Cheatin`     USA  1:16:39
4                      The Satellite Girl and Milk Cow   Korea  1:20:49
..                                                 ...     ...      ...
366                                               Land   Japan  0:03:30
367                                      Coincidence 2      UK  0:03:24
368                                          Music Box      UK  0:01:00
369                              Colorimetry in Motion  Canada  0:04:54
370                                           Interior      UK  0:03:00

       제작년도  ... 약력영문4 감독국문5 감독영문5 약력국문5 약력영문5 감독국문6 감독영문6 약력국문6 약력영문6  행종료
0    2014.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  행종료
1    2013.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  행종료
2    2013.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  행종료
3    2013.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  행종료
4    2014.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  행종료
..      ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
366  2013.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  행종료
367  2013.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  행종료
368  2011.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  행종료
369  2013.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  행종료
370  2013.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  행종료

[371 rows x 61 columns]>

In [18]:
df.shape

(371, 61)

In [19]:
df.isnull()

,no,인덱스,구분,카테고리,섹션,작품명국문,작품명영문,제작국가,러닝타임,제작년도,...,약력영문4,감독국문5,감독영문5,약력국문5,약력영문5,감독국문6,감독영문6,약력국문6,약력영문6,행종료
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
367,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
368,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
369,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
370,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False

In [20]:
df.isnull().sum()

no         0
인덱스        0
구분         0
카테고리       0
섹션         0
        ...
감독국문6    370
감독영문6    370
약력국문6    370
약력영문6    370
행종료        0
Length: 61, dtype: int64

In [23]:
df['섹션']

0             개막작
1           장편부문1
2           장편부문2
3           장편부문3
4           장편부문4
          ...
366    여름밤의 애니메이션
367    여름밤의 애니메이션
368    여름밤의 애니메이션
369    여름밤의 애니메이션
370    여름밤의 애니메이션
Name: 섹션, Length: 371, dtype: object

In [24]:
df.isnull().sum()

no         0
인덱스        0
구분         0
카테고리       0
섹션         0
        ...
감독국문6    370
감독영문6    370
약력국문6    370
약력영문6    370
행종료        0
Length: 61, dtype: int64

In [25]:
null_count = df.isnull().sum()
df_null= null_count.reset_index()
df_null.columns=['구분','결측값']
df_null

       구분  결측값
0      no    0
1     인덱스    0
2      구분    0
3    카테고리    0
4      섹션    0
..    ...  ...
56  감독국문6  370
57  감독영문6  370
58  약력국문6  370
59  약력영문6  370
60    행종료    0

[61 rows x 2 columns]

In [26]:
df_null.sort_values(by='결측값').tail(3)

       구분  결측값
57  감독영문6  370
58  약력국문6  370
59  약력영문6  370