### format_for_list

In [1]:
s = '{} {} {}'
f = s.format('대건','윤기','찬빈')
print(f)

대건 윤기 찬빈

In [18]:
s = '{}이는 {}와 {}를 좋아한다'
f = s.format('대건','윤기','찬빈')
print(f)

대건이는 윤기와 찬빈를 좋아한다

In [19]:
s = '{}이는 {}번이고 {}에 진학했다'
f = s.format('대건',30312,'인천대학교')
print(f)

대건이는 30312번이고 인천대학교에 진학했다

In [19]:
name ='석찬'
num = 30303
add = '인천시 연수구'
s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(name,num,'add')
print(f)

대건이는 30312번이고 인천대학교에 진학했다

In [23]:
name = input('이름 입력 ')
num = input('학번 입력 ')
add = input('주소 입력 ')
s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(name,num,add)
print(f)

이름 입력 이정우
학번 입력 30315
주소 입력 인천시 서구 연희동
이정우이는 30315번이고 인천시 서구 연희동에 살고있다

In [24]:
stu = input('이름 학번 주소 : ').split()

이름 학번 주소 : 이정우 30315 인천시서구연희동

In [25]:
stu

['이정우', '30315', '인천시서구연희동']

In [27]:
stu[0],stu[1]

('이정우', '30315')

In [30]:

s = '{}는 {}번이고 {}에 살고있다'
f = s.format(stu[0],stu[1],stu[2])
print(f)

이정우는 30315번이고 인천시서구연희동에 살고있다

## [문제1] 다음과 같은 양식으로 입력받아 출력하기
- 햄버거/2/4 입력하면
- 햄버거 2개 값은 8 달러입니다

In [185]:
food =input('음식이름 갯수 가격').split()

음식이름 갯수 가격햄버거 2 4

In [194]:
s = '{} {}개 값은 {}달라 입니다.'
food[1]=int(food[1])
food[2]=int(food[2])
f = s.format(food[0],food[1],food[2]*food[1])
print(f)

햄버거 2개 값은 8달라 입니다.

In [188]:
info = '%d %s %f'
pr = info%(20, '인천', 0.05)
print(pr)

20 인천 0.050000

In [195]:
info = '%d년도 %s여고 %0.2f퍼센트'
pr = info%(20, '인천', 0.05)
print(pr)

20년도 인천여고 0.05퍼센트

## [문제2]햄버거 2개는 8달라이다.
- 햄버거
- 2
- 2 * 4

In [199]:
food = '%s %d개는 %d달러이다.'
pr = food%('햄버거', 2, 2*4)
print(pr)

햄버거 2개는 8달러이다.

## list

In [201]:
arr = [1,2,3,4,5]
arr

[1, 2, 3, 4, 5]

In [208]:
arr = ['성곤','대건','대범','호정']

In [204]:
arr[0]

'성곤'

In [209]:
len(arr)

4

In [211]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [212]:
for i in arr :
    print(i)

성곤
대건
대범
호정

In [214]:
for i in range(len(arr)) :
    print(arr[i])

성곤
대건
대범
호정

In [221]:
for i, val in enumerate(arr) :
    print(i+1,'번',val)

1 번 성곤
2 번 대건
3 번 대범
4 번 호정

## [문제1]30부터 50까지 출력해보기

In [224]:
for i in range(30,51):
    print(i,end=" ")

30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

## [문제2]30부터 50까지 중에서 홀수만 출력해보기

In [232]:
for i in range(30,51):
    if i%2!=0 :
        print(i,end=" ")

31 33 35 37 39 41 43 45 47 49

## [문제3]30부터 50까지 중에서 홀수만 더해서 sum에 넣고 출력

In [240]:
sum = 0
for i in range(30,51):
    if i%2!=0 :
        sum = sum+i
print(sum)

400

## [문제4]
- 1부터 10까지 중에서
- 짝수이면 파이썬
- 홀수이면 야 너도 할수있어 출력

In [250]:
for i in range(1,10):
    if i%2==0 :
        print(i, " 파이썬")
    else :
        print(i," 야 너도 할수있어")

1  야 너도 할수있어
2  파이썬
3  야 너도 할수있어
4  파이썬
5  야 너도 할수있어
6  파이썬
7  야 너도 할수있어
8  파이썬
9  야 너도 할수있어