## 엑셀데이터 가져오기

In [6]:
path = 'DATA.csv'

In [17]:
path

'DATA.csv'

In [18]:
df = pd.read_csv(path,encoding = 'cp949')

In [19]:
df

  이름    연도  포인트
0  A  2013  1.5
1  B  2014  3.2
2  C  2015  4.6
3  D  2016  6.2
4  E  2017  1.6
5  F  2018  2.8
6  G  2019  3.5
7  H  2020  4.3

In [20]:
df.head(3)

  이름    연도  포인트
0  A  2013  1.5
1  B  2014  3.2
2  C  2015  4.6

In [21]:
df['포인트']=0.0

In [23]:
df

  이름    연도  포인트
0  A  2013  0.0
1  B  2014  0.0
2  C  2015  0.0
3  D  2016  0.0
4  E  2017  0.0
5  F  2018  0.0
6  G  2019  0.0
7  H  2020  0.0

In [25]:
df[df['연도']>=2016]

  이름    연도  포인트
3  D  2016  0.0
4  E  2017  0.0
5  F  2018  0.0
6  G  2019  0.0
7  H  2020  0.0